<div class="account-info-card">
  <div class="account-info-card__image-wrapper">
    {{#if profileImageUrl}}
      <img src="{{profileImageUrl}}" alt="{{name}}" class="account-info-card__image">
    {{else}}
    {{/if}}
    <div class="account-info-card__image"></div>
  </div>
  <div class="account-info-card__info">
    <div class="account-info-card__name">{{name}}</div>
    <div class="account-info-card__username">@{{username}}</div>
    <div class="account-info-card__location">Location, UTC {{utcOffset}}</div>
  </div>
</div>
